.comment-slider {
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;

      //.comment-slider__wrap
   
      &__wrap{
         position: relative;
      }

		// .comment-slider__slide

		&__slide {
         display: flex;
         padding: 0 70px;
         @media (max-width: 570px){
            flex-direction: column;
            align-items: center;
         }
         @media (max-width: 400px){
            padding: 0 40px;
         }
		}

		// .comment-slider__aside

		&__aside {
         flex-shrink: 0;
         margin-right: 55px;
         @media (max-width: 920px){
            margin-right: 35px;
         }
         @media (max-width: 570px){
            margin-right: 0;
         }
      }

		// .comment-slider__quote-icon

		&__quote-icon {
         @include square(100px);
         @include flex-centered;
         border: 3px solid $blue;
         border-radius: 5px;
         font-size: 50px;
         color: $blue;
      }
      
      // .comment-slider__author-photo

      &__author-photo{
         border-radius: 100%;
         padding-bottom: 100%;
         width: 165px;
      }

		// .comment-slider__main

		&__main {
		}

		// .comment-slider__quote

		&__quote {
         font-family: 'roboto';
         font-style: italic;
         color: $gray;
         font-size: 20px;
         line-height: 27px;
         max-height: 80px;
         overflow: hidden;
         @media (max-width: 765px){
            max-height: 300px;
         }
         @media (max-width: 570px){
            margin-top: 20px;
            text-align: center;
         }
		}

		// .comment-slider__author

		&__author {
         display: flex;
         align-items: center;
         margin-top: 30px;
         @media (max-width: 570px){
            justify-content: flex-end;
            margin-top: 20px;
         }


         &:after{
            content: '';
            width: 50px;
            height: 4px;
            background: $pink;
            order: 1;
            @media (max-width: 570px){
               width: 35px;
            }
         }
      }
      
      &__author-name{
         font-family: 'kaushanScript';
         font-size: 24px;
         text-transform: capitalize;
         color: black;
         order: 2;
         margin-left: 10px;
      }

		// .comment-slider__btn-prev

		&__btn-prev {
         left: 0;
         // transform: rotate(90deg);
		}

		// .comment-slider__btn-next

		&__btn-next {
         right: 0;
         // transform: rotate(-90deg);
      }
      
      &__btn{
         position: absolute;
         @include flex-centered;
         top: 0;
         height: 100%;
         background: #f8f8f8;
         z-index: 100;
         cursor: pointer;
         font-size: 12px;
         color: #cccccc;
      }

      &__btn-icon{

      }
}