.presentation {

   // .presentation__device-group

   &__device-group{
      position: relative;
      display: flex;
      justify-content: center;
   }

   // .presentation__device

   &__device{
      width: max-content;
   }

   // .presentation__ipad

   &__ipad {
      height: 50vw;
      padding-right: 40%;
      // transform: translateX(-10%);
      margin-left: -10%;
      @media (max-width: 760px){
         height: 100vw;
         padding-right: 86%;
      }
   }

   // .presentation__iphone

   &__iphone {
      height: 35vw;
      padding-right: 19%;
      position: absolute;
      bottom: -45px;
      // transform: translateX(99%);
      margin-left: 28%;
      @media (max-width: 760px){
         height: 77vw;
         padding-right: 42%;
         // transform: translateX(88%);
         margin-left: 62%;
         bottom: -6%;
      }
   }
}