@mixin flex-centered{
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center{
	align-items: center;
	justify-content: center;
}

@mixin absolute{
	position: absolute;
	top: 0;
	left: 0;
}

@mixin layer{
	@include absolute;
	width: 100%;
	height: 100%;
}

@mixin column{
	display: flex;
	flex-direction: column;
}

@mixin square($num){
	height: $num;
	width: $num;
}

@mixin fontface($name, $file, $weight: normal, $style: normal){
	@font-face {
	  font-family: "#{$name}";
	  src: url('#{$file}.eot');
	  src: url('#{$file}.eot?#iefix') format('embedded-opentype'),
			 url('#{$file}.woff') format('woff'),
			 url('#{$file}.ttf') format('truetype'),
			 url('#{$file}.otf'),
			 url('#{$file}.svg?#webfont') format('svg');
	  font-weight: $weight;
	  font-style: $style;
	  font-display: swap;
	}
 }

 //------custom scrollbar
 @mixin scrollbars($size, $foreground-color, $background-color, $border-radius: none) {
	// For Google Chrome
	&::-webkit-scrollbar {
	  width:  $size;
	  height: $size;
	}
 
	&::-webkit-scrollbar-thumb {
	  background: $foreground-color;
	}
 
	&::-webkit-scrollbar-track {
	  background: $background-color;
	}

	&::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track{
		border-radius: $border-radius;
	}
 
	// For Internet Explorer
	& {
	  scrollbar-face-color: $foreground-color;
	  scrollbar-track-color: $background-color;
	}
 }