@include fontface("kaushanScript", "../fonts/KaushanScript-Regular");
@include fontface("monserrat", "../fonts/Montserrat/Montserrat-Bold", 'bold');
@include fontface("monserrat", "../fonts/Montserrat/Montserrat-ExtraBold", '800');
@include fontface("monserrat", "../fonts/Montserrat/Montserrat-Black", '850');
@include fontface("monserrat", "../fonts/Montserrat/Montserrat-Regular", '400');
@include fontface("monserrat", "../fonts/Montserrat/Montserrat-Medium", '500');

.btn {
   @include flex-centered;
   width: 160px;
   height: 40px;
   border: 5px solid white;
   font-size: 14px;
   color: white;
   font-family: 'monserrat';
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.3s;

   &:hover{
      color: #fce38a;
      border-color: #fce38a;
   }
}

.container{
   max-width: 1200px;
   width: 100%;
}