@include fontface("kaushanScript", "../fonts/kaushanScript/KaushanScript-Regular");
@import '../fonts/Montserrat/font-styles.css';
@import '../fonts/Roboto/stylesheet.css';

$pink: #f38181;
$yellow: #f2da8a;
$blue: #95e1d3;
$light-blue: #b5eae0;
$gray: #9f9f9f;
$light-gray: #e5e5e5;
$black: #333333;

html{
   color: $black;
}

.btn {
   @include flex-centered;
   width: 160px;
   height: 40px;
   border: 5px solid white;
   font-size: 14px;
   color: white;
   font-family: 'monserat';
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.3s;

   &:hover{
      color: #fce38a;
      border-color: #fce38a;
   }
}

.row{
   padding: {
      top: -15px;
      bottom: -15px;
   }
}
.colmn{
   padding: {
      top: 15px;
      bottom: 15px;
   }
}

.photo {

   // .photo__image

   &__image {
   }
}

.layer {

   // .layer__bg

   &__bg {
   }

   // .layer__content

   &__content {
   }
}

.fluide-image{
   width: 100%;
}

.rotate-90{
   transform: rotate(90deg);
}
.rotate-270{
   transform: rotate(270deg);
}
