@include fontface("kaushanScript", "../fonts/KaushanScript-Regular");
@import '../fonts/Montserrat/font-styles.css';

$pink: #f38181;
$yellow: #f2da8a;
$blue: #95e1d3;

.btn {
   @include flex-centered;
   width: 160px;
   height: 40px;
   border: 5px solid white;
   font-size: 14px;
   color: white;
   font-family: 'monserat';
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.3s;

   &:hover{
      color: #fce38a;
      border-color: #fce38a;
   }
}

.container{
   max-width: 1200px;
   width: 100%;
   display: flex;
}

.photo {

   // .photo__image

   &__image {
   }
}

.layer {

   // .layer__bg

   &__bg {
   }

   // .layer__content

   &__content {
   }
}
