.section {
   padding: 100px 0;
   overflow: hidden;
   @media(max-width: 920px){
      padding: 60px 0;
   }

   &__pretitle, &__title{
      text-align: center;
   }
   // .section__pretitle

   &__pretitle {
      font-family: 'kaushanScript';
      font-size: 24px;
   }

   // .section__title

   &__title {
      font-family: 'monserat';
      font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      font-size: 30px;
      margin: 25px auto 0px;
      max-width: 500px;
      @media(max-width: 1000px){
         padding: 0 20px;
         line-height: 36px;
      }

      &:after{
         content: '';
         width: 60px;
         margin: 40px 0 50px;
         background-color: $pink;
         height: 3px;
         @media(max-width: 1000px){
            margin: 35px 0 45px;
         }
      }
   }

   &__descr{
      font-family: 'roboto';
      color: #999999;
      max-width: 955px;
      text-align: center;
      line-height: 28px;
      margin: 0 auto 95px;
      @media(max-width: 1000px){
         padding: 0 30px;
         margin-bottom: 70px;
      }
   }

   // .section__hr

   &__hr {
      border: none;
      background: $light-gray;
      height: 1.5px;
      margin: 50px 0;
   }
}

//--------individual styles for custom sections

.section-services {
   .section__title:after {
      margin-bottom: 70px;
   }
}

.section-presentation{
   padding-bottom: 0;
   @media (max-width: 920px){
      padding-bottom: 0;
   }
}

.section-comment-slider{
   padding: 70px 0;
   background: #f8f8f8;
}
