.blog-post {
   position: relative;
   @media(max-width: 992px){
      margin-bottom: 20px;
   }
   @media (max-width: 765px){
      padding: 0 10vw;
   }
   @media(max-width: 520px){
      padding: 0 6vw;
   }

   // .blog-post__photo-wrap

   &__photo-wrap {
      position: relative;
      margin-bottom: 25px;
   }

   // .blog-post__photo

   &__photo {
      width: 100%;
      padding-top: 65%;
   }

   // .blog-post__date

   &__date {
      position: absolute;
      bottom: 10px;
      left: -15px;
      padding: 20px 18px;
      background-color: $blue;
      color: white;
   }

   // .blog-post__date-day

   &__date-day {
      font-family: 'monserat';
      font-weight: bold;
      font-size: 25px;
   }

   // .blog-post__date-month

   &__date-month {
      font-family: 'roboto';
      font-style: italic;
      font-weight: 300;
      text-transform: capitalize;
   }

   // .blog-post__title

   &__title {
      font-family: 'monserat';
      font-weight: 500;
      color: $black;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 20px;
   }

   // .blog-post__text

   &__text {
      font-family: 'roboto';
      color: $gray;
      font-size: 15px;
      margin-bottom: 30px;
      line-height: 24px;
      max-width: 350px;
   }

   // .blog-post__footer

   &__footer {
      border-top: 1px solid $light-gray;
      padding: 25px 0 35px;
      display: flex;
   }

   // .blog-post__counter

   &__counter {
      display: flex;
      margin-right: 20px;
      align-items: center;
      color: $blue;
      &:last-child{
         margin-right: 0;
      }
   }

   // .blog-post__counter-num

   &__counter-num {
      font-family: 'roboto';
      font-style: italic;
      font-weight: 300;
      font-size: 15px;
      margin-left: 5px;
      color: $gray;
   }

   // .blog-post__photo-filter

   &__photo-filter{
      @include layer;
      background: black;
      opacity: 0;
      transition: 0.3s;
   }

   // .blog-post:hover

   &:hover{
      .blog-post__photo-filter{
         opacity: 0.4;
      }
   }
} 