$icomoon-font-family: "custom-icofont" !default;
$icomoon-font-path: "fonts" !default;

$ic-alarm: "\e900";
$ic-arrow-down: "\e901";
$ic-book: "\e902";
$ic-bullseye: "\e903";
$ic-computer-ok: "\e904";
$ic-dribbble: "\e905";
$ic-equalizer: "\e906";
$ic-facebook: "\e907";
$ic-google-plus: "\e908";
$ic-home: "\e909";
$ic-image: "\e90a";
$ic-instagram: "\e90b";
$ic-line-graph: "\e90c";
$ic-picture: "\e90d";
$ic-pin: "\e90e";
$ic-pinterest: "\e90f";
$ic-search: "\e910";
$ic-shopping-cart: "\e911";
$ic-speech-buble-2svg: "\e912";
$ic-speech: "\e913";
$ic-team: "\e914";
$ic-tumblr: "\e915";
$ic-twitter: "\e916";
$ic-view: "\e917";
$ic-youtube: "\e918";

